.registration-page {
  // 新規会員登録画面に使う
  @media screen and (min-width: 769px){
    padding: 0 0 220px;
    .new-registration {
      &__header {
        height: 128px;
        text-align: center;
        h1 {
          display: inline-block;
          margin: 40px 0 0;
          a {
            display: inline-block;
            width: 185px;
            height: 49px;
            line-height: 49px;
            margin: 0 8px 0 0;
          }
          img {
            width: 185px;
            height: 49px;
          }
        }
      }
    }
    .registration-menu{
      .registration-title{
        width: 700px;
        margin: 0 auto;
        background: #fff;
        &__head {
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
          font-weight: bold;
        }
        .registration-box{
          border-top: 1px solid #f5f5f5;
          padding: 64px;
          &__content{
            max-width: 320px;
            margin: 0 auto;
          }
          p {
            margin: 8px 0 0;
            line-height: 1.5;
          }
          span {
            padding: 4px 6px;
            background: #eee;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px){
    padding: 0 0 250px;
    .new-registration {
      &__header {
        text-align: center;
        h1 {
          display: inline-block;
          margin: 11px 0 12px;
          a {
            display: inline-block;
            width: 120px;
            height: 33px;
            margin: 0 8px 0 0;
            line-height: 33px;
          }
          img {
            width: 120px;
            height: 33px;
          }
        }
      }
    }
    .registration-menu{
      .registration-title{
        background: #fff;
        &__head {
          padding: 24px 8px;
          font-size: 18px;
          line-height: 1.5;
          text-align: center;
          font-weight: bold;
        }
      }
      .registration-box{
        border-top: 1px solid #f5f5f5;
        padding: 40px;
        &__content{
          max-width: 320px;
          margin: 0 auto;
        }
        p {
          margin: 8px 0 0;
          line-height: 1.5
        }
        span {
          padding: 4px 6px;
          background: #eee;
        }
      }
    }
  }
}
