@mixin arrow-down{
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 24px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@mixin user-entry-form{
  display: block;
  margin: 8px 0 0;
  border: 1px solid #0099e8;
  background: #0099e8;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
}

@mixin box-size{
  box-sizing: border-box;
}

@mixin entry-page-body{
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}

@mixin info-text {
  color: #0099e8;
  text-decoration: none;
}
