.progress-status {
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #ccc;
  border-radius: 50%;
  &::before {
    right: 50%;
  }
  &::after
  {
    left: 50%;
  }
  &::before, &::after{
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #ccc;
  }
}

.personal-entry{
  @media screen and (min-width: 769px){
    .signup-bar.progress-bar{
      padding: 40px 0 0 44px;
      border-top: 0;
      font-size: 0;
      text-align: center;
    }
    .progress-bar{
      display: inline-block;
      vertical-align: top;
      ol {
        margin: 0;
        li {
          position: relative;
          z-index: 1;
          margin: 0 40px 0 0;
          min-width: 60px;
          display: inline-block;
          font-size: 12px;
          color: #888;
          &::before{
            background: #ea352d;
          }
          &:first-child ::before{
            content: none;
          }
          &:last-child{
            margin-right: 0;
            & ::after{
              content: none;
            }
          }
          &.active {
            font-weight: 600;
            color: #ea352d;
            .progress-status{
              background: #ea352d;
              z-index: 1;
              &::before{
                background: #ea352d;
              }
            }
          }
          &.through{
            .progress-status{
              background: #ea352d;
              z-index: 1;
              &::before, &::after{
                background: #ea352d;
              }
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px){
    .signup-bar.progress-bar{
      padding: 16px 0;
      border-top: 1px solid #eee;
    }
    .progress-bar{
      font-size: 0;
      text-align: center;
      ol {
        margin: 0;
        li {
          position: relative;
          z-index: 1;
          display: inline-block;
          min-width: 40px;
          margin: 0 5% 0 0;
          font-size: 12px;
          color: #888;
          &::before{
            background: #ea352d;
          }
          &:first-child ::before{
            content: none;
          }
          &:last-child{
            margin-right: 0;
            & ::after{
              content: none;
            }
          }
          &.active {
            font-weight: 600;
            color: #ea352d;
            .progress-status{
              background: #ea352d;
              z-index: 1;
              &::before{
                background: #ea352d;
              }
              &:last-child ::after{
                content: none;
              }
            }
          }
          &.through{
            .progress-status{
              background: #ea352d;
              z-index: 1;
              &::before, &::after{
                background: #ea352d;
              }
            }
          }
        }
      }
    }
  }
}
