@mixin clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

@mixin dropbox{
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  -webkit-transition: -webkit-box-shadow ease-out .3s;
  transition: -webkit-box-shadow ease-out .3s;
  transition: box-shadow ease-out .3s;
  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
  cursor: pointer;
  float: right;
  margin-left: 2%;
}
