.bread-crumbs {
  background-color: #fff;
  height: 50px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  .itemscoap{
    display: flex;
    line-height: 50px;
    .title {
      color: #333;
      text-decoration: none;
      font-size: 14px;
      margin: 0 0 0 60px;
    }
    .fas.fa-chevron-right {
      color: #333;
      font-size: 14px;
      margin: 10px 10px;
    }
    .my-page {
      font-size: 14px;
      color: #333;
      font-weight: 700;
      text-decoration: none;
    }
  }
}