.credit-card-create {
  background: #f5f5f5;
  .bread-crumbs {
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
  }
  .l-container {
    margin: 40px auto 0;
    width: 1020px;
    padding: 0 0 40px;    
    .l-content {
      float: right;
      width: 700px;
      .l-chapter-container {
        margin: 0;
        background: #fff;
        &__head {
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          line-height: 1.4;
          font-weight: bold;
        }
        #charge-form {
          padding: 64px;
          border-top: 1px solid #f5f5f5;
          .single-content {
            max-width: 320px;
            margin: 0 auto;
            .form-group {
              margin: 0;
              label {
                font-weight: 600;
                display: inline-block;
              }
              .form-group-require {
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              #card_number {
                width: 100%;
                margin: 8px 0 0;
                height: 28px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
              .card-list {
                margin: 8px 0 0;
                font-size: 0;
                li {
                  display: inline-block;
                  margin-right: 10px;
                }
              }
            }
            .form-group-second {
              margin: 40px 0 0;
              position: relative;
              label {
                font-weight: 600;
                display: inline-block;
              }
              &__require {
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              div {
                position: relative;
                #exp_month {
                  display: block;
                  width: 35%;
                  margin: 8px 0 0;
                  position: relative;
                  background: #fff;
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  }
                  .icon-arrow-bottom {
                    position: absolute;
                    left: 85px;
                    top: 40%;
                    z-index: 2;
                    color: #888;
                    font-size: 20px;
                    transform: translate(0, -40%);
                } 
                select{
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                }
                span {
                  margin: 0 16px;
                  color: #333;
                  font-size: 16px;
                }
              }
              div {
                position: relative;
                #exp_year {
                  display: block;
                  width: 35%;
                  margin: 8px 0 0;
                  position: relative;
                  background: #fff;
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  }
                  .icon-arrow-bottom {
                    position: absolute;
                    left: 85px;
                    top: 50%;
                    z-index: 2;
                    color: #888;
                    font-size: 20px;
                    transform: translate(0, -40%);
                  }
              }
              
            }
            .form-group-third {
              margin: 40px 0 0;
              label {
                font-weight: 600;
                display: inline-block;
              }
              &__require {
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
              }
              .cvc {
                width: 100%;
                margin: 8px 0 0;
                height: 24px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
              .signup-seqcode {
                position: relative;
                margin: 8px 0 0;
                .signup-seqcode-text {
                  text-align: right;
                  color: #0099e8;
                  &__question {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background: #0099e8;
                    color: #fff;
                    line-height: 14px;
                    font-size: 12px;
                    text-align: center;
                  }
                }
              }
            }
            
            #token_submit {
              margin: 40px 0 0;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              transition: all ease-out .3s;
              cursor: pointer;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
