.side
  .side-list
    %ul
      %li.side-list__item--active
        =link_to 'マイページ','#', class: 'mypage'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to 'お知らせ', '#', class: 'item'
        %i.fas.fa-chevron-right 
      %li.side-list__item
        =link_to 'やる事リスト', '#', class: 'item'
        %i.fas.fa-chevron-right                  
      %li.side-list__item
        =link_to 'いいね！一覧', '#', class: 'item'
        %i.fas.fa-chevron-right                 
      %li.side-list__item
        =link_to '出品する', '#', class: 'item'
        %i.fas.fa-chevron-right                  
      %li.side-list__item
        =link_to '出品した商品-出品中', '#', class: 'item'
        %i.fas.fa-chevron-right              
      %li.side-list__item
        =link_to '出品した商品-取引中', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to '出品した商品-売却済み', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to '購入した商品-取引中', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to '購入した商品-過去の取引', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to 'ニュース一覧', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to '評価一覧', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to 'ガイド', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to 'お問い合わせ', '#', class: 'item'
        %i.fas.fa-chevron-right
    .side-list__head
      メルペイ
    %ul.side-list
      %li.side-list__item
        =link_to '売上・振込申請', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to 'ポイント', '#', class: 'item'
        %i.fas.fa-chevron-right
    .side-list__head
      設定
    %ul.side-list
      %li.side-list__item
        =link_to 'プロフィール', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to '発送元・お届け先住所変更', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to '支払い方法', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to 'メール/パスワード', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to '本人情報', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to '電話番号の確認', '#', class: 'item'
        %i.fas.fa-chevron-right
      %li.side-list__item
        =link_to 'ログアウト', '#', class: 'item'
        %i.fas.fa-chevron-right