= form_with url: '/search/index', method: 'get', local: true do |f|
    = f.text_field :search, placeholder: '何かお探しですか？', class: 'input-default',value: params[:search]
    %button{type: "submit", class: "btn"}
        %i.fas.fa-search